@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


body {
	background-color: #DFDCE5FF;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-top: 10px;
}

header {
    background-color: rgb(57, 56, 59);
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    color:#000000;
    font-size: 2em;
}

h2 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.sub {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Rubik' , sans-serif;
}

li {
    font-weight: 400;
    text-decoration: none;
}



/* author/date section */
.credit {
    font-size: 0.80em;
    font-style: italic;
}



/* top button css stuff */
.insta_btn {
    border-radius: 50%;
    background-color: orange;
    color: white;

    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.insta_btn:hover {
    background-color: rgb(194, 126, 1);
}

.twit_btn {
    border-radius: 50%;
    background-color: rgb(23, 132, 204);
    color: white;

    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.twit_btn:hover {
    background-color: rgb(13, 82, 128);
}


.pin_btn {
    border-radius: 50%;
    background-color: rgb(223, 5, 5);
    color: white;

    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.pin_btn:hover {
    background-color: rgb(129, 5, 5);
}


.print_btn {
    background-color: rgb(167, 0, 182);
    color: white;

    font-size: 1.25em;
}

.print_btn:hover {
    background-color: rgb(97, 2, 105);
}




/* top links ... recipes ingredients trending...*/
.top_links {
    display: inline-block;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_links a {
    padding: 0px 20px;
    color: #ffffff;
}

.top_links a:hover {
    color: #000000;
}

.info li {
    display: inline-block;
}


/* title and time info section */
.intro {
    background-color: rgb(196, 220, 247);
    border-radius: 5px;
}



/* nav link styling ... ingredients, equipment, etc */
.nav {
    list-style: none;
}

.nav li {
    padding: 0px 20px;
}

.nav li, a {
    transition: all 0.3s ease 0;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.nav li a:hover {
    color: #000000;
}



/* other styling */
.highlight {
    background:rgb(57, 56, 59);

    padding: 4px 4px;
    border-radius: 4px;
}



/* The grid container
.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "sidebar navigation" 
		                   "sidebar content";
}

.nav {
	background-color: #222; color: white;
	grid-area: navigation;
}
.side {
	background-color: gold;
	grid-area: sidebar;
}
.story {
	background-color: white;
	grid-area: content;
} */